$color-light: #f5f0e1;
$color-grayish: #bfb6a160;
$color-dark: #634c36;
$color-vibrant: #d9a769;
$color-reddish: #c76969;
$color-yellow: #ddb851;
$color-blueish: #708c9c;
$color-brown: #8b5a2b;
$color-orange: #d9823c;
$color-light-gray: #6666662f;
$color-darker-gray: #1A1A1A; // Gris más oscuro
$darker-Gray-medium:#857862a9;

.Container{
    background-color: $color-light-gray;
    position:relative;
    width: 15vw;
    height: 50.7vh;
   border-radius: 6%;
    margin-top: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 3vh;
    opacity: 0.6;
    transition: 0.4s ease;
    z-index: 1;
    box-shadow:  10px 3px 10px 10px rgb(0, 0, 0);
//    backdrop-filter: blur(10px);

    &:hover{
   
        transition: 0.4s ease;
        opacity: 1; /* Mantener la opacidad al 100% al pasar el cursor */


       
    }
    &.Active{
        z-index: 2;
        border-bottom-left-radius: 0% ;
        border-bottom-right-radius: 0% ;
        transform : scale(1.03);
        box-shadow:  0 0 0 0 rgb(0, 0, 0);
        opacity: 1;
    
    }
}

.Image{
     width: 100%;
        height: 30vh;
        border-top-left-radius: 6%;
        border-top-right-radius: 6%;
        transition: 0.4s ease;
        opacity: 0.9;
        &:hover{
            scale: 1.06;
            transition: 0.4s ease;
            opacity: 1;
        }
}



  .Name{
    height: 3.5vh;
    font-size: 1.5vw;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    color: $color-light;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    transition: 0.4s ease;
    &:hover{
        scale: 1.06;
        transition: 0.4s ease;
        opacity: 1;
    }
  }

  .Hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-width: 0.1px;
    border-color: $color-grayish;
  }

  
  
  
  .Rating{
    display: flex;
  justify-content: space-between;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  padding-left: 1vw;
    
    color: $darker-Gray-medium;
    font-size: 1vw;
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 20%;
    height: 10vh;
  }

    .Rating_numb{
        font-size: 1.2vw;
        font-weight: bold;
        color: $color-light;
        text-align: center;
        margin-top: 1vh;
        margin-bottom: 1vh;
        
    }
  